style을 적용하는 방법

1. <style> 태그

 <style>
 h1{
    color: green;
    text-align: center;
    }
   </style>
   
2. style 속성
  <h1 style="color: green; text-align: center;">hello world!</h1>
  <p style="font-size: 18px;">hihi</p>
  
3. 외부 CSS파일 + <link> 태그
  
  css/style.css = 
                h1 {
                color: green;
                text-align: center;
                }
                p  {
                font-size: 18px;
                }
                
   <limk href="css/style.css" rel="stylesheet"> 
