.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

.qmark {
	font-size: 300%;
	position: relative;

}
.opne-qmark {
	margin-right: 15px;
	top: 20px;
}
.close-qmark {
	margin-left: 15px;
	top: 80px;
}